body {
    background: hsla(39, 51%, 85%, 1);
    background: linear-gradient(90deg, hsla(39, 51%, 85%, 1) 0%, hsla(182, 93%, 68%, 1) 50%, hsla(318, 79%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(39, 51%, 85%, 1) 0%, hsla(182, 93%, 68%, 1) 50%, hsla(318, 79%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(39, 51%, 85%, 1) 0%, hsla(182, 93%, 68%, 1) 50%, hsla(318, 79%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ECDEC4", endColorstr="#62F4F9", GradientType=1 );
}
.box {
    margin-top:20px;
    margin-left:50px
    width: auto;
    align-items:center;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
label{
    color:white;
}
input {
    color:white;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
select {
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}